.Producto {
    text-align: center;
    justify-content: center;
    display: flex;
    width: 100%;
  }
  .input-wrapper{
      width: 30%;
      margin-right: 2%;
  }

  .table-wrapper{
      width: 70%;
  }
